html{
    background: rgba(0, 0, 0, 0.932);
}
header{
    display: flex;
    justify-content: space-around;
    background: linear-gradient(#0C0B12 25%,#f3ef17 50%,#f2f2f2);
    border-width: 1px;
    border-style: solid;
    border-color: goldenrod;
}

body{
    margin-top: -1px;
}
#Flex{
    display: inline-flex;
}
#down-town{
    position: absolute;
    z-index: -1;
}
  
#Profile img{
    position: absolute;
   display: inline-flex;
    top: 200px;
    left: 100px;
    display: inline-block;
    border-style: solid;
    border-radius: 50%;
    border-width: 4px;
    border-color: rgb(42, 148, 190);
    z-index: 1;
}
.Intro-text{
    color: gold;
    position: absolute;
    text-align: center;
    left: 450px;
    top: 200px;
}
#About{
    position: relative;
    width: 150px;
    top: 530px;
    left: 440px;
    background-color: rgb(236, 185, 82);
    border-radius: 5px;
}

#About-me{
    position: absolute;
    background-color: floralwhite;
    top: 670px;
    left: 450px;
    width: 700px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 5px;
    
}
.content{
    font-size: 25px;
}
#Achievements{
    position: relative;
    background-color: rgb(236, 185, 82);
    top: 780px;
    left: 445px;
    border-radius: 5px;
    width: 250px;
}
#Associate{
    position: absolute;
    background-color: rgb(236, 185, 82);
    width: 400px;
    height: 650px;
    top: 610px;
    border-radius: 5px;
    z-index: -2;

}
#Associate-text{
    position: relative;
    background-color: floralwhite;
    width: 700px;
    border-radius: 5px;
    padding: 25px;
    top: 900px;
    left: 195px;
}
.all-contaner{
    display: flex;
}
#Orginizations1{
    
    position: absolute;
    background-color: floralwhite;
    font-size: 25px;
    border-radius: 5px;
    width: 310px;
    padding: 5px;
    top: 720px;
    left: 40px;
}
#Orginization1{
    position: relative;
    margin-top: 500px;
    border-radius: 0px;
}
#skills{
    position: absolute;
    top: 1250px;
    background-color:  rgb(236, 185, 82);
    border-radius: 5px;
    margin-top: 25px;
    width: 400px;
    height: 400px;
    margin-bottom: 25px;
}
#skills-text{
    position: absolute;
    top: 1330px;
    background-color: floralwhite;
    width: 310px;
    border-radius: 5px;
    left:37px;
    font-size: 20px;

}
#Goals{
    
    position: absolute;
    background-color: rgb(236, 185, 82);
    top: 1260px;
    left: 453px;
    border-radius: 5px;
}
#Goals-text{
    position: absolute;
    background-color: floralwhite;
    font-size: 25px;
    border-radius: 5px;
    width: 750px;
    top: 1350px;
    left: 450px;
}
#ASC{
    display: inline;
}
#ATC{
    display: inline;
}
#Red{
    display: inline;
}
#BW4{
    display: inline;
}
